h1 {
    font-size: 150px;
    color: #acbfde;
    text-decoration: overline;
}  

p {
    text-align: justify;
    text-indent: 10%;
    text-transform: capitalize;
    word-spacing: 100px;
}

a{
    text-decoration: none;
}