/* hitung spesificity */
/* 0 0 0 0 */
/* kiri ke kanan */
/* inline id class elemen */

/* case1 */
/* p {
    color: red;
}

p {
    color: green;
} */

/* case2 */
/* #p1 {
    color: red;
}

p {
    color: green;
} */

/* case3 */
ul#sarapan li {
    color: green;
}

ul#sarapan li.favorit {
    color: red;
}